.mega {

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell {
    padding: 0 40px;
  }

  &__button {
    background-color: white;
    position: relative;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -1px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
      transition: 0.3s;

      &::after {
        transition: 0.3s;
        opacity: 1;
      }
    }

    &:active {
      box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: 0s;

      &::after {
        transition: 0s;
        transform: scaleY(0.99) scaleX(0.997);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      right: -7px;
      bottom: -7px;
      left: -7px;
      border: 1px dashed white;
      pointer-events: none;
      transition: 0.1s;
      opacity: 0.6;
    }

    &_shape_circle {
      width: 150px;
      height: 150px;
      border-radius: 200px;
      background-size: 60%;
      background-position: center;

      &::after {
        border-radius: 200px;
      }
    } 
    
    &_shape_rect {
      margin-top: -40px; 
      width: 400px;
      height: 224px;
      z-index: 10;
    } 
  }
}
