.pg {
  $sidebarWidth: 330px;
  padding-top: 40px;
  padding-bottom: 50px;

  &__frame {
    border: 4px solid black;
    border-radius: 8px;
  }

  &__header {
    border-bottom: 4px solid black;
    color: black;
    display: flex;
    align-items: center;
  }

  &__header-cell {

    &_main {
      flex-grow: 1;
    }

    &_right {
      border-left: 1px solid black;
    }
  }

  &__header-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: $sidebarWidth;
    font-size: 20px;
  }

  &__main {
    display: flex;
  }

  &__sidebar {
    width: $sidebarWidth;
    flex-basis: $sidebarWidth;
    border-right: 1px solid black;
  }

  &__content {
    position: relative;
    flex-grow: 1;
  }

  &__canvas {
    position: relative;
    height: 500px;
  }
}
