.hero {
  color: white;

  &__container {
    display: flex;
  }

  &__cell {
    flex-basis: 0;
    flex-grow: 1;
  }

  &__group {
    display: flex;
  }

  &__group-item {

    &_main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 80px;
    } 
  }

  &__top {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: $primary-color;
  }

  &__bottom-curve {
    width: 100%;

    path {
      fill: $primary-color;
    }
  }

  &__title {
    text-align: center;
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__subtitle {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
