.button {

  &_view {

    &_star {
      background-color: transparent;
      border: 1px solid white;
      width: 30px; 
      height: 30px;
      border-radius: 6px;
      cursor: pointer;
    }

    &_play-arch {
      display: inline-flex;
      background-color: white;
      color: $primary-color;
      border-radius: 100px;
      padding: 10px 30px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      border-bottom: 1px solid white;
    }
  }
}
